
@{

}

<h2 style="font-size: 40px;">PopcornPals</h2>
<br />
<p style="font-size: 18px;">
    A PopcornPals is a comprehensive software application designed to provide users with information about movies, including details such as the cast, year of release, and images. This system serves as a digital catalog or database of movies, making it easier for users to explore and discover information about their favorite films.
</p>